<template>
  <div name="app" class="app" dir="rtl">
    <navbar />
    <router-view />
    <contact />
  </div>
</template>

<script>
import navbar from "./views/navbar";
import contact from "./components/contactUs";
export default {
  name: "app",
  components: {
    navbar,
    contact,
  },
};
</script>

<style>
body,
.app
html {
  height: 100vh;
  background-color: rgb(226, 179, 132);
}

</style>
