<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: rgb(235, 228, 221);">
  <div style="text-align: center">
    <div>
			<img src="https://i.imgur.com/EsHmOnR.png">
		</div>
    {{#if isShipment}}
      <h1 style="font-size: 300%; color: green;">ההזמנה התקבלה לכתובת "{{address}}" ותהיה מוכנה בהקדם האפשרי</h1>
    {{/if}}
    {{#unless isShipment}}
      <h1 style="font-size: 300%; color: green;">ההזמנה התקבלה ותהיה מוכנה בהקדם האפשרי</h1>
    {{/unless}}
    {{#each products }}
      <h1>{{name}}</h1>
      <img src='{{img}}' style="width: 250px; height: 250px;">
      <h3>מחיר: {{price}} ש"ח</h3>
      <h3>כמות: {{quantity}} </h3>
    {{/each}}
    <hr>
    <h2>סך הכל: {{ totalpriceWithoutPostage }} ש"ח</h2>
  
    {{#if isShipment}}
      <h2>דמי משלוח: 10 ש"ח</h2>
      <h2>סכום ההזמנה: {{ totalPrice }} ש"ח</h2>
    {{/if}}
    <hr>
    <h2>:על מנת ליצור קשר</h2>
    <b>0558819263</b> <br>
    <b>noyjewelry123@gmail.com</b>
  </div>
</body>



</html>