<template>
  <div name="home">
    <div>
      <img :src="getImgUrl()" class="mainImage" />
    </div>

    <div class="catalog">
      <hr />
      <router-link class="router-link" to="/shop"><h2 class="title">Noy Jewelry</h2></router-link>
      <hr />
    </div>

      <div class="box">
        <div class="rightImage" data-aos="fade-right">
          <img src="../assets/1.png" class="image" />
        </div>
        <div class="text" data-aos="fade-left">
          <p>
            כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד
            כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד
          </p>
        </div>
      </div>

      <div class="box">
        <div class="leftImage" data-aos="fade-left">
          <img src="../assets/2.png" class="image" />
        </div>
        <div class="text" data-aos="fade-right">
          <p>
            כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד
            כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד כל המוצרים באתר נעשו בהכנה ידנית שלי ושלי בלבד
          </p>
        </div>
      </div>

      <div class="box3 row">
        <div class="ml-2 mr-2" data-aos="fade-down">
          <img src="../assets/צמיד 1.jpg" class="imageCircle" />
        </div>
        <div class="ml-2 mr-2" data-aos="fade-down">
          <img src="../assets/1.png" class="imageCircle" />
        </div>
        <div class="ml-2 mr-2" data-aos="fade-down">
          <img src="../assets/שרשרת 3.jpg" class="imageCircle" />
        </div>
        <div class="ml-2 mr-2" data-aos="fade-down">
          <img src="../assets/צמיד 2.jpg" class="imageCircle" />
        </div>
      </div>
  </div>
</template>

<script>
import AOS from "aos";
import "aos/dist/aos.css";
export default {
  name: "home",
  data() {
    return {
      index: 1
    };
  },
  created() {
    AOS.init();
  },
  mounted() {
    setInterval(() => {
      this.index = this.index + 1 < 4 ? this.index + 1 : 1;
    }, 10000);
  },
  methods: {
    getImgUrl() {
      return require("../assets/" + this.index + ".png");
    }
  }
};
</script>
<style scoped>
.mainImage {
  width: 100%;
  object-fit: cover;
}
.catalog {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
hr {
  border-top: 4px solid rgb(107, 103, 68);
}
.router-link {
  text-decoration: none;
}
.title {
  color: brown;
}
.text {
  text-align: center;
  font-family: unset;
}
.box3 {
  justify-content: center;
  padding-bottom: 130px;
}

@media screen and (max-width: 767px) {
  .mainImage {
    height: 350px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .title {
    font-size: 300%;
  }
  .box {
    height: 150px;
    padding-bottom: 10px;
  }
  .rightImage {
    float: right;
    padding-right: 10px;
  }
  .leftImage {
    float: left;
    padding-left: 10px;
  }
  .text {
    font-size: 100%;
    font-weight: bold;
  }
  .imageCircle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  .mainImage {
    height: 450px;
  }
  .title {
    font-size: 600%;
  }
  .box {
    height: 400px;
    padding-bottom: 10px;
  }
  .rightImage {
    float: right;
    padding-right: 40px;
  }
  .leftImage {
    float: left;
    padding-left: 40px;
  }
   .text {
    font-size: 190%;
  }
  .image {
    width: 350px;
    height: 350px;
  }
   .imageCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .image {
    width: 450px;
    height: 450px;
  }
  .title {
    font-size: 600%;
  }
  .box {
    height: 500px;
    padding-bottom: 10px;
  }
  .rightImage {
    float: right;
    padding-right: 80px;
  }
  .leftImage {
    float: left;
    padding-left: 80px;
  }
  .text {
    font-size: 250%;
  }
  .imageCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
</style>