<template>
    <div name="logUp">
    <logUpDetail />
    </div>
 
</template>

<script>
import logUpDetail from "../components/logUp-detail";

export default {
  name: "logUp",
  components:{
      logUpDetail,
  },


};
</script>

<style scoped>

</style>