<template>
  <div name="navbar">
    <b-navbar toggleable="lg" type="light" variant="light">
      <b-navbar-brand>
        <router-link to="/" class="title">
          <b>Noy jewelry</b>
        </router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav class="mainNavBar">
        <b-navbar-nav>
          <b-nav-item>
            <router-link class="nav-link text" to="/">דף הבית</router-link>
          </b-nav-item>

          <b-nav-item>
            <router-link class="nav-link text" to="/shop">חנות</router-link>
          </b-nav-item>

          <b-nav-item>
            <router-link class="nav-link text" to="/">אודות</router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>

      <ul class="leftSide">
        <li class="instagram">
          <a href="https://www.instagram.com/noys_jewelry_/" target="_blank">
            <img src="../assets/instagram.png" width="30px" height="30px" />
          </a>
        </li>
        <li class="cart">
          <router-link class="nav-link text" to="/order">
            <span>({{ cart.length }})</span>
            <span>
              <i class="fa fa-shopping-cart"></i>
            </span>
          </router-link>
        </li>
        <li class="signIn">
          <router-link class="nav-link text" to="/signIn">
            <span>
              <i class="btn btn-success"> התחבר </i>
            </span>
          </router-link>
        </li>
        <li class="logUp">
          <router-link class="nav-link text" to="/logUp">
            <span>
              <i class="btn btn-success"> הרשם </i>
            </span>
          </router-link>
        </li>
      </ul>
    </b-navbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "navbar",
  computed: {
    ...mapState(["cart"]),
  },
};
</script>

<style scoped>
.navbar-nav {
  width: 100%;
  position: sticky;
}
.mainNavBar {
  width: 60%;
}
.title {
  color: black;
  text-decoration: none;
  font-size: 180%;
}
.text {
  font-size: 110%;
  text-align: center;
}
.leftSide {
  width: 100%;
  list-style: none;
}
.cart {
  float: left;
  padding-top: 6px;
}
.logUp {
  float: left;
  padding-top: 6px;
}
.signIn {
  float: left;
  padding-top: 6px;
}
.fa-shopping-cart {
  font-size: 200%;
}
.bi-badge-cc-fill {
  font-size: 200%;
}
.instagram {
  width: 30px;
  float: left;
  padding-top: 15px;
}
@media screen and (max-width: 991px) {
  .leftSide {
    text-align: center;
  }
}
</style>
