<template>
  <div name="order">
    <cart @openOrderDetail="openOrderDetail"></cart>
    <orderDetail v-if="isClicked && cart.length != 0"></orderDetail>
  </div>
</template>

<script>
import cart from "../components/cart";
import orderDetail from "../components/order-detail";
import { mapState } from "vuex";
export default {
  name: "order",
  components: {
    cart,
    orderDetail
  },
  data() {
    return {
      isClicked: false
    };
  },
  computed: {
    ...mapState(["cart"])
  },
  methods: {
    openOrderDetail() {
      this.isClicked = true;
    }
  }
};
</script>

<style scoped>
</style>