<template>
    <div name="payment">
    <payment />
    </div>
 
</template>

<script>
import payment from "../components/Payment-detail";

export default {
  name: "payment-detail",
  components:{
      payment,
  },


};
</script>

<style scoped>

</style>