<template>
  <div name="product" class="row">
    <imageGallery></imageGallery>
    <productDetails></productDetails>
  </div>
</template>

<script>
import imageGallery from "../components/imageGallery";
import productDetails from "../components/productDetails";
import { mapState, mapActions } from "vuex";
export default {
  name: "Product",
  components: {
    imageGallery,
    productDetails,
  },
  computed: {
    ...mapState(["currentProduct", "cart"])
  }
};
</script>

<style scoped>
</style>