<template>
  <div name="products" class="products row">
    <div class="product" v-for="(product, index) in products" :key="index"
         @click="setCurrentProduct(product)">
      <router-link class="router-link" to="/product">
        <product
          :name="product.name"
          :price="product.price"
          :discount="product.discount"
          :img="product.img"
          :isOutOfStock="product.isOutOfStock"
        ></product>
      </router-link>
    </div>
  </div>
</template>

<script>
import product from "../components/product";
import { mapState, mapActions } from "vuex";
export default {
  name: "products",
  components: {
    product
  },
  computed: {
    ...mapState(["products"])
  },
  methods: {
    ...mapActions(["setCurrentProduct"])
  }
};
</script>

<style scoped>
.products {
  justify-content: center;
}
.router-link {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .product {
    width: 100%;
    padding-bottom: 20px;
  }
}
</style>