<template>
  <div name="shop" class="shop row">
    <div class="category" v-for="(category, index) in categories" :key="index"
         @click="setSubCategories(category.subCategories)">
      <router-link class="router-link" to="/subCategories">
        <category :name="category.name" :img="category.img"></category>
      </router-link>
    </div>
  </div>
</template>


<script>
import category from "../components/category";
import { mapState, mapActions } from "vuex";
export default {
  name: "shop",
  components: {
    category
  },
  created() {
    this.getAllCategories();
  },
  computed: {
    ...mapState(["categories"])
  },
  methods: {
    ...mapActions(["getAllCategories", "setSubCategories"])
  }
};
</script>


<style scoped>
.shop {
  justify-content: center;
}
.router-link {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .category {
    width: 100%;
    padding-bottom: 20px;
  }
}
</style>