<template>
  <div name="signIn">
    <signInDetail />
  </div>
</template>

<script>
import signInDetail from "../components/signIn-detail";

export default {
  name: "signIn",
  components: {
    signInDetail,
  },
};
</script>

<style scoped></style>
