<template>
  <div name="subCategories" class="subCategories row">
    <div class="subCategory" v-for="(subCategory, index) in subCategories" :key="index"
         @click="getAllProductsBySubCategoryId(subCategory.id)">
      <router-link class="router-link" to="/products">
        <category :name="subCategory.name" :img="subCategory.img"></category>
      </router-link>
    </div>
  </div>
</template>


<script>
import category from "../components/category";
import { mapState, mapActions } from "vuex";
export default {
  name: "subCategories",
  components: {
    category
  },
  computed: {
    ...mapState(["subCategories"])
  },
  methods: {
    ...mapActions(["getAllProductsBySubCategoryId"])
  }
};
</script>


<style scoped>
.subCategories {
  justify-content: center;
}
.router-link {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .subCategory {
    width: 100%;
    padding-bottom: 20px;
  }
}
</style>