<template>
  <div name="addToCart" class="addToCart">
    <button type="button" :disabled="isDisabled" @click="inc">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <input type="text" class="input" min="0" v-model="quantity" />
    <button type="button" :disabled="isDisabled" @click="dec">
      <i class="fa fa-minus" aria-hidden="true"></i>
    </button>
    <p class="text-muted">סך הכל: {{ currentProduct.price * quantity}} ש"ח</p>
    <div class="button">
      <button class="btn btn-outline-success btn-lg" style="width:250px" type="button" :disabled="isDisabled"
              @click="addProuctToCart(currentProduct)">
        <span>
          הוסף לעגלה
            <i class="fa fa-shopping-cart"></i>
        </span>
      </button>
    </div>
    <img v-show="isClicked" :src="currentProduct.img[0]" class="image" :class="{ 'animationCart': isClicked}">
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "addToCart",
  data() {
    return {
      quantity: 1,
      isClicked: false
    };
  },
  computed: {
    ...mapState(["currentProduct", "cart"]),
    isDisabled() {
      return this.currentProduct.isOutOfStock;
    }
  },
  methods: {
    ...mapActions(["addToCart"]),
    inc() {
      this.quantity = this.quantity >= 0 ? this.quantity + 1 : 1;
    },
    dec() {
      this.quantity = this.quantity > 1 ? this.quantity - 1 : 1;
    },
    addProuctToCart(currProduct) {
      const productToAdd = {
        name: currProduct.name,
        img: currProduct.img[0],
        description: currProduct.description,
        price: currProduct.discount ? currProduct.discount: currProduct.price,
        quantity: parseInt(this.quantity)
      };
      this.addToCart(productToAdd);
      window.scrollTo(0,0);
      this.isClicked = true;
      setTimeout( () => {
        this.isClicked = false;
      }, 4000)
    }
  }
};
</script>

<style scoped>
.addToCart {
  padding-top: 10px;
  height: 120px;
  text-align: center;
}
.input {
  text-align: center;
}
.text-muted {
  padding-top: 10px;
}
.image {
  width: 40px;
  height: 40px;
  right: 50%;
  border-radius: 50%;
  position: absolute;
  animation: moveToCart 4s ease;
}
@keyframes moveToCart {
  0%   {opacity: 0; top: 20px}
  50%  {opacity: 1; top: 20px; }
  100% {opacity: 0; top: 10px; left:60px; }
}
@media screen and (max-width: 1000px) {
  .addToCart {
    width: 100%;
    height: auto;
  }
  .image {
    width: 30px;
    height: 30px;
    animation: moveToCart 4s ease;
  }
  @keyframes moveToCart {
  0%   {opacity: 0; top: 65px}
  50%  {opacity: 1; top: 65px;}
  100% {opacity: 0; top: 10px; left: 70px;}
  }
}
</style>