<template>
  <div name="cart">
    <div v-if="cart.length == 0" class="emptyCart">
      <h1>סל הקניות ריק</h1>
      <div class="catalog">
        <hr />
        <router-link class="router-link" to="/shop"><h2 class="moveToShop">חזור לחנות</h2></router-link>
        <hr />
    </div>
    </div>

    <div v-else class="cart">
      <h1 class="title">סל קניות</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th scope="col">שם המוצר</th>
            <th scope="col">מחיר</th>
            <th scope="col">כמות</th>
            <th scope="col">סך הכל</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(product,index) in cart" :key="index">
            <td>
              <img :src="product.img" class="productImage" />
            </td>
            <td>
              <b class="name">{{product.name}}</b>
            </td>
            <td>
              <b class="price">{{product.price}} ש"ח</b>
            </td>
            <td>
              <button type="button" @click="incQuantity(index)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              <input type="text" class="input" :value="`${product.quantity}`" />
              <button type="button" @click="decQuantity(index)">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <b class="sum">{{product.price * product.quantity}} ש"ח</b>
            </td>
            <td>
              <i class="fa fa-trash-o" aria-hidden="true" @click="removeFromCart(index)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>סך הכל: {{totalPrice}} ש"ח</h4>
      <hr />
      <div class="button">
        <button type="button" class="btn btn-success" @click="openOrder">עבור לפרטי הזמנה</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "cart",
  data() {
    return {
      quantity: 0
    };
  },
  mounted() {
    this.setTotalPrice();
  },
  computed: {
    ...mapState(["cart", "totalPrice"])
  },
  methods: {
    ...mapActions([
      "removeProduct",
      "increamentQuantity",
      "decreamentQuantity",
      "setTotalPrice"
    ]),
    removeFromCart(index) {
      this.removeProduct(index);
    },
    incQuantity(index) {
      this.increamentQuantity(index);
    },
    decQuantity(index) {
      this.decreamentQuantity(index);
    },
    openOrder() {
      this.$emit("openOrderDetail");
    }
  }
};
</script>

<style scoped>
.cart {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.emptyCart {
  height: 480px;
  padding-right: 50px;
  text-align: center;
}
.catalog {
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.moveToShop {
  color: brown;
}
.router-link {
  text-decoration: none;
}
.title {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.productImage {
  width: 80px;
  height: 80px
}
table th,
table td {
  text-align: center;
}
.fa-trash-o {
  cursor: pointer;
  font-size: 200%;
}
.input {
  text-align: center;
}
h4 {
  text-align: center;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .emptyCart {
    padding-right: 0px;
  }
  table thead {
    display: none;
  }
  table,
  table tbody,
  table tr,
  table td {
    display:inline-block;
    width: 100%;
  }
  .name {
    font-size: 150%;
  }
  .sum::before {
    content: "סך הכל: ";
  }
  .price::before {
    content: "מחיר: ";
  }
}
</style>