<template>
  <div name="category" class="category">
    <div class="card text-center">
      <img :src="img" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "category",
  props: ["name", "img"]
};
</script>

<style scoped>
.card {
  width: 18rem;
  height: 20rem
}
.card-img-top {
  height: 250px
}
.category {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
  .category {
    text-align: -webkit-center;
  }
}
</style>