<template>
  <div name="contact" class="footer">
    <div>
      <div class="description">
        ליצירת קשר 0548318955 | yah25436@gmail.com <br>
        עקבו אחרינו באינסטגרם
        <a href="https://www.instagram.com/noys_jewelry_/" target="_blank">
          <img src="../assets/instagram.png" width="30px" height="30px" />
        </a> <br> <br>
        פותח ע"י יהונתן הלוי ושלום קאפלין |  yah25436@gmail.com |  0548318955 
        <br />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "contact"
};
</script>

<style scoped>
.footer {
  bottom: 0px;
  width: 100%;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  justify-content:space-between;
  position: fixed;
  height: auto;
  

  
}
.description {
  color: white;
  font-size: calc(.6em + .5vw);
}

</style>