<template>
  <div name="imageGallery" class="imageGallery">
    <div>
        <span class="carousel-control-next-icon arrow" @click="decIndex"></span>
      <img class="mainImage" :src="currentProduct.img[index]" />
        <span class="carousel-control-prev-icon arrow" @click="incIndex"></span>
      <div>
      <span class="soldOut" v-if="currentProduct.isOutOfStock" >אזל במלאי</span>
      </div>
    </div>
    <div class="images">
      <img class="image" :src="currentProduct.img[index]"
                           v-for="(img, index) in currentProduct.img" :key="index" @click="setIndex(index)"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "imageGallery",
  data() {
    return {
      index: 0
    };
  },
  computed: {
    ...mapState(["currentProduct"])
  },
  methods: {
    incIndex() {
      this.index = this.index + 1 === this.currentProduct.img.length ? 0 : this.index + 1;
    },
    decIndex() {
      this.index = this.index - 1 < 0 ? this.currentProduct.img.length - 1 : this.index - 1;
    },
    setIndex(index) {
      this.index = index;
    }
  }
};
</script>

<style scoped>
.imageGallery {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 50px;
}
.mainImage {
  width: 450px;
  height: 500px;
  border-radius: 10px;
}
.images {
  padding-right: 50px;
  padding-top: 10px;
}
.image {
  float: right;
  padding-left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.soldOut {
  background: #3b3b3d;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
  right: 100px;
  top: 120px;
}
@media screen and (max-width: 1068px) {
  .imageGallery {
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }
  .mainImage {
    width: 250px;
    height: 300px;
  }
  .images {
    padding-right: 0px;
  }
  .image {
    width: 50px;
    height: 50px;
    float: none;
  }
  .soldOut {
    right: 40%;
    top: 110px;
  }
  .arrow {
    width: 25px;
    height: 25px;
  }
@media screen and (max-width: 991px) {
    .soldOut {
      right: 38%;
      top: 150px
    }
  }
}
</style>