<template>
  <div name="order-detail" class="order-detail" dir="rtl">
    <h1 class="title">הרשמה</h1>
    <form @submit.prevent="addUser">
      <table>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.mail.$model"
              :class="{
                'is-invalid': $v.mail.$error,
                'is-valid': !$v.mail.$invalid,
              }"
              class="form-control"
              placeholder="מייל"
            />
            <span class="valid-feedback">מייל תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.mail.required">חובה למלא מייל</span>
              <span v-if="!$v.mail.isUnique">מייל לא תקין</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              :type="showPassword"
              v-model="$v.password.$model"
              :class="{
                'is-invalid': $v.password.$error,
                'is-valid': !$v.password.$invalid,
              }"
              class="form-control"
              placeholder="סיסמה"
            />
            <span class="valid-feedback">סיסמה תקינה</span>
            <div class="invalid-feedback">
              <span v-if="!$v.password.required">חובה למלא סיסמה</span>
              <span v-if="!$v.password.minLength || !$v.password.maxLength"
                >סיסמה צריכה להיות לפחות 10 תווים</span
              >
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              :type="showPassword"
              v-model="$v.authPassword.$model"
              :class="{
                'is-invalid': $v.authPassword.$error,
                'is-valid': !$v.authPassword.$invalid,
              }"
              class="form-control"
              placeholder="אימות סיסמה"
            />
            <span class="valid-feedback">סיסמה תואמת</span>
            <div class="invalid-feedback">
              <span v-if="!$v.authPassword.required">חובה לאמת סיסמה</span>
              <span v-if="!$v.authPassword.isAuthenticated"
                >סיסמה לא תואמת
              </span>
            </div>
          </td>
        </tr>
      </table>

      <div class="button">
        <button type="submit" class="btn btn-success">הרשם</button>
      </div>
    </form>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { required, minLength } from "vuelidate/lib/validators";
import axios from "axios";
export default {
  name: "user-detail",
  data() {
    return {
      firstName: "",
      mail: "",
      password: "",
      showPassword: "password",
      authPassword: "",
    };
  },
  validations: {
    password: {
      required,
      minLength: minLength(10),
    },
    authPassword: {
      required,
      minLength: minLength(10),
      isAuthenticated(value) {
        if (value === this.password) return true;
        else return false;
      },
    },

    mail: {
      required,
      isUnique(value) {
        if (value === "") return true;

        var email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return new Promise((resolve) => {
          resolve(email_regex.test(value));
        });
      },
    },
  },
  mounted() {},
  methods: {
    addUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const userToAdd = {
          mail: this.mail,
          password: this.password,
        };
        axios
          .post("http://localhost:3000/signUp/signUp", userToAdd)
          .then((res) => {
            console.log(res.data.temporaryToken);
            localStorage.setItem("name", "yoni");
            localStorage.setItem("temporaryToken", res.data.temporaryToken);
          });
        Swal.fire("מעולה", "נשלח אליך מייל", "success").then(() => {
          Swal.fire({
            title: "הזן את הקוד שנשלח לך במייל ",
            input: "password",
            inputLabel: "במקרה ולא ראיתם בדקו בספאם",
            inputPlaceholder: "הזן את הקוד שנשלח לך במייל ",
            allowOutsideClick: "false",
            if(email) {
              Swal.fire(`Entered email: ${email}`);
            },
          }).then(() => {
            Swal.fire({
              title: "?לעבור לאיזור האישי",
              icon: "question",
              iconHtml: "?",
              confirmButtonText: "תעביר",
              cancelButtonText: "אל תעביר",
              showCancelButton: true,
              showCloseButton: true,
            });
          });
        });
      }
    },
  },
};
</script>

<style scoped>
.order-detail {
  width: 100%;
  padding-bottom: 20px;
}
.title {
  text-align: center;
}
.valid-feedback,
.invalid-feedback {
  text-align: right;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
table {
  width: 100%;
  text-align: center;
}
table td {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
table td {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  table td {
    padding-right: 40px;
    padding-left: 40px;
  }
}
</style>
