<template>
  <div name="order-detail" class="order-detail" dir="rtl">
    <h1 class="title">פרטי הזמנה</h1>
    <form @submit.prevent="addOrder">
      <table>
        <tr>
          <td>
            <input
              type="text"
              ref="firstName"
              v-model.trim="$v.firstName.$model"
              :class="{'is-invalid': $v.firstName.$error,
                           'is-valid': !$v.firstName.$invalid }"
              class="form-control"
              placeholder="שם פרטי"
            />
            <span class="valid-feedback">שם פרטי תקין</span>
            <span class="invalid-feedback">חובה למלא שם פרטי</span>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              ref="lastName"
              v-model.trim="$v.lastName.$model"
              :class="{'is-invalid': $v.lastName.$error,
                           'is-valid': !$v.lastName.$invalid }"
              class="form-control"
              placeholder="שם משפחה"
            />
            <span class="valid-feedback">שם משפחה תקין</span>
            <span class="invalid-feedback">חובה למלא שם משפחה</span>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              id="address"
              v-model="$v.address.$model"
              :class="{'is-invalid': $v.address.$error,
                           'is-valid': !$v.address.$invalid }"
              class="form-control"
              placeholder="כתובת מלאה"
            />
            <span class="valid-feedback">כתובת תקינה</span>
            <span class="invalid-feedback">חובה למלא כתובת</span>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.phone.$model"
              :class="{'is-invalid': $v.phone.$error,
                           'is-valid': !$v.phone.$invalid }"
              class="form-control"
              placeholder="מספר טלפון"
            />
            <span class="valid-feedback">מספר פלאפון תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.phone.required">חובה למלא מספר פלאפון</span>
              <span v-if="!$v.phone.numeric">מספר פלאפון חייב להכיל מספרים בלבד</span>
              <span
                v-if="(!$v.phone.minLength || !$v.phone.maxLength) && $v.phone.numeric"
              >מספר פלאפון חייב להכיל 10 מספרים</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.mail.$model"
              :class="{'is-invalid': $v.mail.$error,
                           'is-valid': !$v.mail.$invalid }"
              class="form-control"
              placeholder="מייל"
            />
            <span class="valid-feedback">מייל תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.mail.required">חובה למלא מייל</span>
              <span v-if="!$v.mail.isUnique">מייל לא תקין</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <textarea
              rows="3"
              cols="50"
              class="form-control"
              placeholder="הערות..."
              v-model="comment"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              <b>בחר את דרך ההזמנה:</b>
            </span>
            <input
              type="radio"
              name="isShipment"
              :value="true"
              v-model="isShipment"
              :class="{'is-invalid': $v.isShipment.$error,
                            'is-valid': !$v.isShipment.$invalid }"
            /> משלוח (+10 שקלים)
            <input
              type="radio"
              name="isShipment"
              id="noShipment"
              :value="false"
              v-model="isShipment"
            /> איסוף עצמי
            <span class="valid-feedback">דרך הזמנה תקינה</span>
            <span class="invalid-feedback">חובה למלא דרך הזמנה</span>
          </td>
        </tr>
      </table>
      <div class="button">
        <router-link class="nav-link text" to="/payment">
            <span>
              <button type="submit" class="btn btn-success">לתשלום</button>
            </span>
          </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import {
  required,
  numeric,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import axios from "axios";
export default {
  name: "order-detail",
  data() {
    return {
      firstName: "",
      lastName: "",
      phone: "",
      address: "",
      mail: "",
      comment: "",
      isShipment: ""
    };
  },
  validations: {
    firstName: {
      required
    },
    lastName: {
      required
    },
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    address: {
      required
    },
    mail: {
      required,
      isUnique(value) {
        if (value === "") return true;

        var email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return new Promise(resolve => {
          resolve(email_regex.test(value));
        });
      }
    },
    isShipment: {
      required
    }
  },
  computed: {
    ...mapState(["cart", "totalPrice"])
  },
  mounted() {
    this.$refs.firstName.focus();
    initAutocomplete();
    function initAutocomplete() {
      const autocomplete = new google.maps.places.Autocomplete(
        document.getElementById("address"),
        { type: ["geocode"] }
      );
    }
  },
  methods: {
    addOrder() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const products = [];
        this.cart.forEach(product => {
          products.push({
            name: product.name,
            quantity: product.quantity,
            img: product.img,
            price: product.price
          });
        });
        const orderToAdd = {
          fullName: this.firstName + " " + this.lastName,
          address: this.address,
          phone: this.phone,
          products: products,
          isShipment: this.isShipment,
          totalPrice: this.isShipment ? this.totalPrice + 10 : this.totalPrice,
          comment: this.comment
        };
        axios
          .post("http://localhost:3000/orders", orderToAdd)
          .then(res => console.log(res));
        const mailInfo = {
          mailToSend: this.mail,
          fullName: this.firstName + " " + this.lastName,
          address: this.address,
          isShipment: this.isShipment,
          products: products,
          totalPrice: this.isShipment ? this.totalPrice + 10 : this.totalPrice,
        };
        axios
          .post("http://localhost:3000/sendMail", mailInfo)
          .then(res => console.log(res));
        Swal.fire("מעולה", "נשלח אליך מייל", "success");
      }
    }
  }
};
</script>

<style scoped>
.order-detail {
  width: 100%;
  padding-bottom: 110px;
}
.title {
  text-align: center;
}
.valid-feedback,
.invalid-feedback {
  text-align: right;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
table {
  width: 100%;
  text-align: center;
}
table td {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
table td {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  table td {
    padding-right: 40px;
    padding-left: 40px;
  }
}
</style>