<template>
    <div name="Payment-detail" class="Payment-detail" dir="rtl">
      <h1 class="title">תשלום</h1>
      <form @submit.prevent="checkCrditCart">
        <table>
         <tr>
          <td>
            <input
              type="text"
              v-model="$v.CardNumber.$model"
              :class="{'is-invalid': $v.CardNumber.$error,
                           'is-valid': !$v.CardNumber.$invalid }"
              class="form-control"
              placeholder="Card Number"
            />
            <span class="valid-feedback">מספר כרטיס תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.CardNumber.required">חובה למלא מספר כרטיס</span>
              <span v-if="!$v.CardNumber.numeric">מספר כרטיס חייב להכיל מספרים בלבד </span>
              <span
                v-if="(!$v.CardNumber.minLength || !$v.CardNumber.maxLength) && $v.CardNumber.numeric"
              ></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.Expiry.$model"
              :class="{'is-invalid': $v.Expiry.$error,
                           'is-valid': !$v.Expiry.$invalid }"
              class="form-control"
              placeholder="Expiry"
            />
            <span class="valid-feedback">תוקף תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.Expiry.required">חובה למלא תוקף</span>
              <span v-if="!$v.Expiry.numeric">תאריך תוקף חייב להיות מספר</span>
              <span
                v-if="(!$v.Expiry.minLength || !$v.Expiry.maxLength) && $v.Expiry.numeric"
              >תוקף חייב להיות 4 ספרות, חודש ושנה</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.CVV.$model"
              :class="{'is-invalid': $v.CVV.$error,
                           'is-valid': !$v.CVV.$invalid }"
              class="form-control"
              placeholder="CVV"
            />
            <span class="valid-feedback">CVV תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.CVV.required">חובה למלא CVV</span>
              <span v-if="!$v.CVV.numeric">CVV חייב להיות מספר</span>
              <span
                v-if="(!$v.CVV.minLength || !$v.CVV.maxLength) && $v.CVV.numeric"
              >CVV חייב להיות 3 ספרות </span>
            </div>
          </td>
        </tr>
        </table>
        <div class="button">
          <button type="submit" class="btn btn-success">לתשלום
          </button>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  import Swal from "sweetalert2";
 
  import { required, minLength, numeric, maxLength } from "vuelidate/lib/validators";
  export default {
  name: "Payment",
  data() {
    return {
      CardNumber: "",
      Expiry: "",
      CVV: "",
    }},
  validations: {
      CardNumber: {
        required,
        numeric,
        minLength: minLength(16),
        minLength: maxLength(16),
      },
      Expiry: {
        required,
        numeric,
        minLength: minLength(4),
        maxLength: maxLength(4),
      },
      CVV: {
        required,
        numeric,
        minLength: minLength(3),
        maxLength: maxLength(3),
      },

  },
  methods: {
    checkCrditCart(){
      
      localStorage.setItem("temporaryToken","mici is the king");
        Swal.fire("מעולה","תשלום התקבל", "success")
      
}}}
  
  </script>
  
  <style scoped>
  .order-detail {
    width: 100%;
    padding-bottom: 20px;
  }
  .title {
    text-align: center;
  }
  .valid-feedback,
  .invalid-feedback {
    text-align: right;
  }
  .button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  table {
    width: 100%;
    text-align: center;
  }
  table td {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
  }
  table td {
    padding-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    table td {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  </style>
  