<template>
  <div name="logUp-detail" class="logUp-detail" dir="rtl">
    <h1 class="title">הרשמה</h1>
    <form @submit.prevent="addUser">
      <table>
       
        <tr>
          <td>
            <input
              type="text"
              ref="lastName"
              v-model.trim="$v.lastName.$model"
              :class="{'is-invalid': $v.lastName.$error,
                           'is-valid': !$v.lastName.$invalid }"
              class="form-control"
              placeholder="שם משפחה"
            />
            <span class="valid-feedback">שם משפחה תקין</span>
            <span class="invalid-feedback">חובה למלא שם משפחה</span>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              id="address"
              v-model="$v.address.$model"
              :class="{'is-invalid': $v.address.$error,
                           'is-valid': !$v.address.$invalid }"
              class="form-control"
              placeholder="כתובת מלאה"
            />
            <span class="valid-feedback">כתובת תקינה</span>
            <span class="invalid-feedback">חובה למלא כתובת</span>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.phoneNumber.$model"
              :class="{'is-invalid': $v.phoneNumber.$error,
                           'is-valid': !$v.phoneNumber.$invalid }"
              class="form-control"
              placeholder="מספר טלפון"
            />
            <span class="valid-feedback">מספר פלאפון תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.phoneNumber.required">חובה למלא מספר פלאפון</span>
              <span v-if="!$v.phoneNumber.numeric">מספר פלאפון חייב להכיל מספרים בלבד</span>
              <span
                v-if="(!$v.phoneNumber.minLength || !$v.phoneNumber.maxLength) && $v.phoneNumber.numeric"
              >מספר פלאפון חייב להכיל 10 מספרים</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.mail.$model"
              :class="{'is-invalid': $v.mail.$error,
                           'is-valid': !$v.mail.$invalid }"
              class="form-control"
              placeholder="מייל"
            />
            <span class="valid-feedback">מייל תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.mail.required">חובה למלא מייל</span>
              <span v-if="!$v.mail.isUnique">מייל לא תקין</span>
            </div>
          </td>
        </tr>
         <tr>
          <td>
            <input
              type="text"
              v-model="$v.userName.$model"
              :class="{'is-invalid': $v.userName.$error,
                           'is-valid': !$v.userName.$invalid }"
              class="form-control"
              placeholder="שם משתמש"
            />
            <span class="valid-feedback">שם משתמש תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.userName.required">חובה למלא שם משתמש</span>
              <span v-if="!$v.userName.isUniqueUserName">שם משתמש לא תקין</span>
            </div>
          </td>
        </tr>
         <tr>
          <td>
            <input
              type="text"
              ref="password"
              v-model.trim="$v.password.$model"
              :class="{'is-invalid': $v.password.$error,
                           'is-valid': !$v.password.$invalid }"
              class="form-control"
              placeholder="סיסמה"
            />
            <span class="valid-feedback">סיסמה</span>
            <span class="invalid-feedback">חובה למלא סיסמה </span>
          </td>
        </tr>
         <tr>
          <td>
            <input
              type="text"
              ref="firstName"
              v-model.trim="$v.firstName.$model"
              :class="{'is-invalid': $v.firstName.$error,
                           'is-valid': !$v.firstName.$invalid }"
              class="form-control"
              placeholder="שם פרטי"
            />
            <span class="valid-feedback">שם פרטי תקין</span>
            <span class="invalid-feedback">חובה למלא שם פרטי</span>
          </td>
        </tr>
      </table>
      <div class="button">
        <button type="submit" class="btn btn-success"> הרשם </button>
      </div>
    </form>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import {
  required,
  numeric,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import axios from "axios";
export default {
  name: "logUp-detail",
  data() {
    return {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      address: "",
      mail: "",
      userName: "",
      password: "",

    };
  },
  validations: {
    firstName: {
      required
    },
    lastName: {
      required
    },
    phoneNumber: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    address: {
      required
    },
    mail: {
      required,
      isUnique(value) {
        if (value === "") return true;

        var email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return new Promise(resolve => {
          resolve(email_regex.test(value));
        });
      }
    },
    userName: {
      required,
      isUniqueUserName (value) {
        if (value === "") { return true};
           
       return axios
        .get("http://localhost:3000/logUp/checkIfUserAlreadyExsis", {params:{
          userName:value
        }})
        .then((res) =>{
          console.log("then")
          if (res.status===203) {
            return new Promise(resolve => {
              console.log("res.status- the result - false")                
              resolve(false);
            });
        }
          else if (res.status===200) {
            return new Promise(resolve => {
              console.log("res.status- the result - true")                
              resolve(true);
            });
          } 
        });
      }
    },
     password: {
      required,
       minLength: minLength(10),
      maxLength: maxLength(10)
    },
    
  },
  // computed: {
  //   ...mapState(["cart", "totalPrice"])
  // },
  mounted() {
    this.$refs.firstName.focus();
    initAutocomplete();
    function initAutocomplete() {
      const autocomplete = new google.maps.places.Autocomplete(
        document.getElementById("address"),
        { type: ["geocode"] }
      );
    }
  },
  methods: {
    addUser() {
      this.$v.$touch();
      if(!this.$v.$invalid){
        const userToAdd = {
          firstName: this.firstName,
          lastName: this.lastName,
          address: this.address,
          mail: this.mail,
          phoneNumber: this.phoneNumber,
          userName: this.userName,
          password: this.password,
        };
        axios
          .post("http://localhost:3000/logUp/singUp", userToAdd)
          .then((res) => console.log(res));
        const mailInfo = {
          mailToSend: this.mail,
          fullName: this.firstName + " " + this.lastName,
          address: this.address,
        };
        // axios
        //   .post("http://localhost:3000/sendMail", mailInfo)
        //   .then(res => console.log(res));
        Swal.fire("מעולה", "נשלח אליך מייל", "success");
      }
    }

  } 
     
      
  }

</script>

<style scoped>
.logUp-detail {
  width: 100%;
  padding-bottom: 20px;
}
.title {
  text-align: center;
}
.valid-feedback,
.invalid-feedback {
  text-align: right;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
table {
  width: 100%;
  text-align: center;
}
table td {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
table td {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  table td {
    padding-right: 40px;
    padding-left: 40px;
  }
}
</style>