<template>
  <div name="productDetails" class="productDetails">
    <div class="detail">
      <h2 class="title">{{currentProduct.name}}</h2>
      <p>{{currentProduct.description}}</p>
      <span class="text-muted" :class="{ 'discount': currentProduct.discount}">מחיר: {{currentProduct.price}} ש"ח
      </span>
      <p v-if="currentProduct.discount">
        <small>מחיר לאחר הנחה: {{currentProduct.discount}} ש"ח</small>
      </p>
    </div>
    <addToCart></addToCart>
  </div>
</template>

<script>
import addToCart from "./addToCart"
import { mapState, mapActions } from "vuex";
export default {
  name: "productDetails",
  components: {
    addToCart
  },
  computed: {
    ...mapState(["currentProduct"])
  }
};
</script>

<style scoped>
.productDetails {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: right;
}
.detail {
  width: 28rem;
  height: auto;
}
.title {
  text-align: center;
}
.discount {
  text-decoration-line: line-through;
}
@media screen and (max-width: 1068px) {
  .productDetails {
    width: 100%;
    padding-right: 0px;
    text-align: -webkit-center;
  }
  .detail {
    width: 20rem;
  }
  .title {
    padding-top: 10px;
  }
}
</style>