<template>
  <div name="products" class="product">
    <div class="card text-center">
      <img :src="img[0]" class="card-img-top" />
      <span v-if="isOutOfStock" class="soldOut">אזל במלאי</span>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <span class="text-muted" :class="{ 'discount': discount}">מחיר: {{price}} ש"ח</span>
        <p v-if="discount">
          <span class="text-muted">מחיר לאחר הנחה: {{discount}} ש"ח</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "products",
  props: ["name", "price", "discount", "img", "isOutOfStock"]
};
</script>

<style scoped>
.card {
  width: 18rem;
  height: 23rem
}
.card-img-top {
  height: 250px;
}
.product {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.soldOut {
  background: #3b3b3d;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.discount {
  text-decoration-line: line-through;
}
@media screen and (max-width: 767px) {
  .product {
    padding-right: 0px;
    text-align: -webkit-center;
  }
}
</style>