<template>
  <div name="logUp-detail" class="logUp-detail" dir="rtl">
    <h1 class="title">התחברות</h1>
    <form @submit.prevent="addUser()">
      <table>
        <tr>
          <td>
            <input
              type="text"
              v-model="$v.mail.$model"
              :class="{
                'is-invalid': $v.mail.$error,
                'is-valid': !$v.mail.$invalid,
              }"
              class="form-control"
              placeholder="מייל"
            />
            <span class="valid-feedback">מייל תקין</span>
            <div class="invalid-feedback">
              <span v-if="!$v.mail.required">חובה למלא מייל</span>
              <span v-if="!$v.mail.isUniqueMail">מייל לא תקין</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="text"
              ref="password"
              v-model.trim="$v.password.$model"
              :class="{
                'is-invalid': $v.password.$error,
                'is-valid': !$v.password.$invalid,
              }"
              class="form-control"
              placeholder="סיסמה"
            />
            <span class="valid-feedback">סיסמה</span>
            <span class="invalid-feedback">חובה למלא סיסמה </span>
          </td>
        </tr>
      </table>

      <div class="button">
        <button type="submit" class="btn btn-success">התחבר</button>
      </div>
    </form>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import {
  required,
  numeric,
  minLength,
  maxLength,
} from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import axios from "axios";
export default {
  name: "logUp-detail",
  data() {
    return {
      mail: "",
      password: "",
    };
  },
  validations: {
    mail: {
      required,
      isUniqueMail(value) {
        if (value === "") {
          return true;
        }
        let email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (email_regex.test(value)) {
          return new Promise((resolve) => {
            resolve(email_regex.test(value));
          });
        }

        return axios
          .get("http://localhost:3000/logUp/checkIfUserAlreadyExsis", {
            params: {
              mail: value,
            },
          })
          .then((res) => {
            if (res.status === 203) {
              return new Promise((resolve) => {
                resolve(false);
              });
            } else if (res.status === 200) {
              return new Promise((resolve) => {
                resolve(true);
              });
            }
          });
      },
    },
    password: {
      required,
    },
  },

  methods: {
    addUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const userToAdd = {
          mail: this.mail,
          password: this.password,
        };
        axios
          .post("http://localhost:3000/logUp/singUp", userToAdd)
          .then((res) => console.log(res));
        // const mailInfo = {
        //   mailToSend: this.mail,
        //   fullName: this.firstName + " " + this.lastName,
        //   address: this.address,
        // };
        // axios
        //   .post("http://localhost:3000/sendMail", mailInfo)
        //   .then(res => console.log(res));
        //Swal.fire("מעולה", "נשלח אליך מייל", "success");
      }
    },
  },
};
</script>

<style scoped>
.logUp-detail {
  width: 100%;
  padding-bottom: 20px;
}
.title {
  text-align: center;
}
.valid-feedback,
.invalid-feedback {
  text-align: right;
}
.button {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
table {
  width: 100%;
  text-align: center;
}
table td {
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
table td {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  table td {
    padding-right: 40px;
    padding-left: 40px;
  }
}
</style>
